<%= form_for(@task, remote: true, html: { id: 'new_task_form', class: 'form-inline' }) do |f| %>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
    <%= f.text_field :title, id: 'title_field', class: 'form-control ' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary', data: { disable_with: 'Please wait...' } %>
<% end %>
