<%= link_to 'New Task', new_task_path, remote: true, id: 'new_task_link', class: 'btn btn-primary btn-lg pull-right' %>
<table id="task_list" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th id="completed_th">Complete</th>
      <th class="created_at">Created</th>
      <th class="updated_at">Updated</th>
      <th id="table_corner" colspan="3"></th>
    </tr>
  </thead>

  <tbody id="table_body">
    <% @tasks.each do |task| %>
      <%= render 'show', task: task %>
    <% end %>
  </tbody>
</table>
