<div class="mobile_container">
  <h1 class="page-header">Welcome to TodoList</h1>

  <h4>TodoList is a place to store all your important tasks for the day and check in to see what's next!</h4>

  <p>To start create an account, then jump right into creating your TodoList for the day!</p>
  
  <br>

  <p>Let us know what you thought! You can reach us using the <%= link_to "contact", "todo_list/contact", remote: true %></a> page</p>
</div>
