/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-tour
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// Place all the styles related to the application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-right: 0 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 125px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

footer {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding-top: 5px;
  bottom: 0;
  right: 0;
  left: 0;

  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #333;
    }
  }
  small {
    font-size: 1.2rem;
    a {
      color: #337ab7;
      &:hover {
        color: #23527c;
      }
    }
  }
  ul, ol {
    margin-top: 0;
    margin-bottom: 7px;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  hr {
    margin: 0.5em;
  }
}

#logo_img {
  display: inline-block;
  vertical-align: top;
  height: 22px;
  width: 24px;
}

#flash_wrapper {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 50px;
}

.btn-lg {
    min-width: 95px;
}

.modal-open {
    overflow-y: scroll !important;
}

.modal-header .close {
    margin-top: 0 !important;
}

.background-todolist {
  background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%);
  background:    -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%);
  background:     -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%);
  background:      -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%);
  background:         linear-gradient(top, rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%);
  border: none;
}

.navbar .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

.navbar-fixed-bottom {
    padding-right: 30px;
}

.navbar .navbar-nav li a {
    min-width: 85px;
    text-align: center;
}

.stop-scrolling {
    overflow-y: scroll !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #DDDDDD;
    color: #337ab7;
}

.logo {
    font-size: 18px;
    vertical-align: super;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  html, body {
    width: auto !important;
    overflow: hidden !important;
  }

  body {
    margin-top: 100px;
  }

  nav .navbar .nav li {
      border: 1px solid #000;
  }

  footer {
    font-size: .9em;
    small + ul {
      padding: 0;
    }
  }

  #logo_img {
    width: 26px;
    height: 24px;
  }

  .navbar-toggle {
    padding: 5px 10px;
  }

  .navbar .navbar-nav li a {
    text-align: right;
}

  .navbar-brand {
    font-size: 20px;
  }

  .mobile_container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  @media (orientation:landscape) {
  }
}

@media (max-width: 480px) {
  #cancel_account_btn {
    float: right !important;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
