// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_task_form {
  height: 46px;
}

#task_list {
}

#table_corner {
  padding: 18px;
}

.complete {
  color: green;
}

.checkbox {
  display: inline;
}

.task_complete {
  text-decoration: line-through;
  color: #ccc;
}

.navbar-brand {
  &:hover {
    #logo_img {
      color: #333333;
    }
  }
}

.input-group {
  .input-group {
    float: left;
  }
}

.th_width {
  width: 25%;
}

td:last-child {
  text-align: right;
}

/**
 * Smaller than 767px (Mobile phones)
 */
@media (max-width: 767px) {

}

/**
 * Smaller than 598px
 */
@media (max-width: 598px) {
  .updated_at, .created_at {
    display: none;
  }
  td {
    width: 50%;
  }
  footer {
    padding-bottom: 5px;
    ul {
      display: none;
    }
  }
}

/**
 * Smaller than 363px
 */
@media (max-width: 363px) {
  .input-group {

    .btn {
      font-size: .95em;
      width: 31%;
    }
    .input-group {
      width:69%;
    }
  }
}

/**
 * Larger than 767px (Tablets, PCs)
 */
@media (min-width: 768px) {
}
