// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo_img {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.navbar-brand {
  &:hover {
    #logo_img {
      color: #333333;
    }
  }
}

#new_task_form {
  height: 46px;
}
