// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo_img {
  display: inline-block;
  vertical-align: top;
  height: 22px;
  width: 24px;
}

#new_task_form {
  height: 46px;
}

#task_list {
  td, th {
    width:50%;
  }
}

#table_corner {
  padding: 18px;
}

.checkbox {
  display: inline;
}

.task_complete {
  text-decoration: line-through;
  color: #ccc;
}

.navbar-brand {
  &:hover {
    #logo_img {
      color: #333333;
    }
  }
}
